In [1]:
# Import libs 
import pandas as pd

In [2]:
# Read csv 
df = pd.read_csv("./listings4.csv")

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9138 entries, 0 to 9137
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   State       9138 non-null   object
 1   Name        9136 non-null   object
 2   Address     9136 non-null   object
 3   Price       9133 non-null   object
 4   Bed Info    9133 non-null   object
 5   Phone       7508 non-null   float64
 6   low_price   9133 non-null   object
 7   high_price  9133 non-null   object
dtypes: float64(1), object(7)
memory usage: 571.3+ KB

In [20]:
df.head()

,State,Name,Address,Price,Bed Info,Phone,low_price,high_price
0,Alabama,"4 Parkwood Villas Ct, Lehigh Acres, FL 33936","4 Parkwood Villas Ct, Lehigh Acres, FL 33936",1600,"2 Beds, 2 Baths, 956 sq ft",2.395392e+09,1600,1600
1,Alabama,"3306 8th St W, Lehigh Acres, FL 33971","3306 8th St W, Lehigh Acres, FL 33971",1925,"3 Beds, 2 Baths, 1,700 sq ft",3.014338e+09,1925,1925
2,Alabama,"2917 48th St SW, Lehigh Acres, FL 33976","2917 48th St SW, Lehigh Acres, FL 33976",2500,"4 Beds, 3 Baths, 2,300 sq ft",2.057048e+09,2500,2500
3,Alabama,"3014 30th St SW, Lehigh Acres, FL 33976","3014 30th St SW, Lehigh Acres, FL 33976",1800,"3 Beds, 2 Baths, 1,495 sq ft",9.412025e+09,1800,1800
4,Alabama,"2812 4th St SW, Lehigh Acres, FL 33976","2812 4th St SW, Lehigh Acres, FL 33976",2245,"3 Beds, 2 Baths, 1,751 sq ft",2.393602e+09,2245,2245

In [7]:
df['Price'] = df['Price'].str.replace('$', '', regex=False)

In [13]:
df['Price'] = df['Price'].str.replace(',', '', regex=False)

In [16]:
df['Price'].unique()

array(['1600', '1925', '2500', ..., '1325 - 1370', '1235 - 2030',
       '1197 - 1700'], dtype=object)

In [18]:
# Split the price column by the delimiter (assuming a hyphen '-')
split_prices = df['Price'].str.split('-', expand=True)

# Create the low_price column using the first element of the split
df['low_price'] = split_prices[0]

# Create the high_price column. Use the second element, but if it's missing, use the first element
df['high_price'] = split_prices[1].fillna(split_prices[0])

In [22]:
df['low_price'] = pd.to_numeric(df['low_price'], errors='coerce').fillna(0).astype(int)

In [23]:
df['high_price'] = pd.to_numeric(df['high_price'], errors='coerce').fillna(0).astype(int)

In [24]:
df.to_csv('rents.csv', index=False)